@import "@styles/settings/_settings";

.footer {
  width: 100%;
  color: white;
  background-color: black;
  padding: 1.2em 0;

  a {
    color: inherit;
  }

  p {

    margin: 0 0 .5em;

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.4em;

  @media (max-width: 720px) {
    flex-wrap: wrap;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 2em;

  @media (max-width: 720px) {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    svg {
      margin-right: 0.4em;
    }
  }
}

.footerLegal {
  a {
    text-decoration: underline;
  }
}
